*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td {
  width: 20px;
  height: 20px;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd){
  background: silver;
}
