/*Styles for page header*/

.page-header {
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
				url('../img/main-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.top-bar {
	padding-top: 20px;
}

.logo-img {
	margin-right: 10px;
}

.logo-title {
	text-transform: uppercase;
	color: var(--white);
	font-weight: 700;
}

.menu-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.menu-icon i {
	font-size: 2rem;
	color: var(--white);
}

.menu-mobile {
	position: relative;
}

.burger-menu {
	position: absolute;
	right: 0;
	top: -9999px;
	background: #fff;
}

.show-menu {
	top: 50px;
}

.menu-desktop,
.r-side {
	display: none !important;
}

.page-header-content {
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	/*align-self: center;*/
	max-width: 580px;
	margin: 0 auto;
	text-align: center;
	color: var(--white);
}

.page-header-content .title {
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 0.05em;
}

.page-header-content .subtitle {
	padding-bottom: 40px;
	font-size: 1rem;
}

/*media quaries*/

@media (min-width: 768px) {
	.page-header-content .title {
		padding-bottom: 40px;
		font-size: 4.5rem;
	}

	.page-header-content .subtitle {
		font-size: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.top-bar .content-wrap {
		align-items: center;
	}
	.menu-mobile {
		display: none;
	}
	.menu-desktop,
	.r-side{
		display: flex !important;
	}

	.menu-desktop .main-menu {
		display: flex;
		list-style: none;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: var(--white);
	}

	.menu-desktop .main-menu a {
		text-decoration: none;
		color: inherit;
	}

	.menu-desktop .main-menu li:not(:last-child) {
		margin-right: 15px;
	}

	.r-side .lang-switch {
		align-items: center;
		margin-right: 20px;
		color: var(--white);
		cursor: pointer;
	}

	.r-side .lang-switch .lang-switch-flag {
		width: 32px;
		height: 32px;
		margin-right: 11px;
		border-radius: 50%;
		background-image: url(../img/flag.png);
	}

	.r-side .lang-switch .lang-switch-title {
		margin-right: 11px;
	}
}