.section-video{
	padding-top: 94px;
	padding-bottom: 95px;
}
.video {
	position: relative;
	border-radius: 15px;
}

.btn-play {
	position: absolute;
	left: -33px;
	top: calc(50% - 33px);
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background-color: var(--brand-color);
	background-image: url('../img/video/play.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
@media(max-width:768px){
	.btn-play{
		left: calc(50% - 33px);
	}
}
/*--section-features--*/

.section-features{
	padding-top: 64px;
	padding-bottom: 124px;
	background-color: #FAFAFA;
}
.features-container{
	margin-top: 100px;
}
.card_1{
	background-image: url('../img/features/Bg.png');
}
.card_2{
	background-image: url('../img/features/Bg-2.png');
}
.card_3{
	background-image: url('../img/features/Bg-3.png');
}
.card_bg{
	width: 350px;
	height: 250px;
	position: absolute;
	top: -157px;
	left: -29px;
}
.features-item{
	position: relative;
	margin: 90px auto 0;
}
.items{
	padding: 33px 32px 0;
	width: 293px;
	height: 198px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
	text-align: center;

}
.features-item-text{
	padding: 20px 0;
	font-size: 12px;
	line-height: 18px;

}
.features-title{
	text-align: center;
	margin-bottom: 0px;
}
@media(max-width:768px){
	.card_bg{
		width: 445px;
		height: 250px;
		background-size: cover;
		top: -130px;
		left: -70px;
		border-radius: 8px;
	}
}

/*--section-technology--*/

.section-technology{
	padding-bottom: 104px;
	padding-top: 63px;
}
.technology-container{
  padding-top: 72px;
}
.technology-item{
  margin: 0 auto;
  width: 255px;
  position: relative;
  padding: 40px 40px 0px;
  text-align: center;
}
.technology-item::before{
  counter-increment: section;
  content: "0" counter(section) "";
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: rgba(16, 16, 16, 0.08);
  top: -25px;
  left: 70px;
}
.tech-text{
  font-size: 0.75rem;
  line-height: 14.4px;
  padding-top: 10px;
}
.tech-pic{
  height: 54px;
}
@media(max-width:768px){
	.technology-item{
		width: 200px;
		padding-bottom: 40px;
	}
	.technology-item::before{
		left: 42px;
	}
}

/*--section-focused--*/
.section-focused{
	padding-top: 94px;
	padding-bottom: 95px;
	background-color: var(--brand-color);
	color: white;
}
.focused-icons{
  padding-top: 40px;
}
.focused-icon{
  padding-right: 25px;
}

/*--section-contact--*/
.section-contact{
	padding-top: 117px;
	padding-bottom: 78px;
}
.username{
	justify-content: space-between;
	width: 100%;
}
.first_name, .last_name{
	width: 48%;
}
.phone_number, .servises{
	width: 100%;
}
.first_name, .last_name, .phone_number, .servises, .button-submit{
	padding: 21px 31px;
	margin-bottom: 24px;
	border: 1px solid #333333;
	border-radius: 6px;
	font-size: 1rem;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
.button-submit{
	background-color: var(--brand-color);
	color: white;
	border: none;
}



/*--footer--*/

footer{
	padding-top: 85px;
	background-color: #FAFAFA;
}
footer li{
  list-style-type: none;
}
footer li a{
	text-decoration: none;
	color: black;
}
footer ul{
  padding: 33px 0 86px;
}
footer .subtitles{
  text-align: left;
}
.footer-icon{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
.footer-icon-fb{
  background-image: url('../img/footer/Vector-3.png');
}
.footer-icon-in{
  background-image: url('../img/footer/Group.png');
}
.footer-icon-tw{
  background-image: url('../img/footer/Vector-4.png');
}
@media(max-width:768px){
	footer{
		text-align: center;
	}
	.footer-item{
		width: 50%;
	}
	.footer-icon-container{
		justify-content: center;
	}
	footer .subtitles{
		text-align: center;
	}

}
