

/*Global styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	counter-reset: section;
}

.subtitles{
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 21.6px;
	text-align: center;
}
.page-wrap {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
section, footer{
	padding-left: 160px;
	padding-right: 160px;
}
.section-title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 43px;
	padding-bottom: 24px;
}
.section-text{
	max-width: 445px;
	margin-right: 125px;
}
.content-wrap {
	padding: 0 15px;
}

.d-flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}

.hide {
	display: none !important;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	cursor: pointer;
}

.btn-login {
	width: 100px;
	height: 40px;
	border: 1px solid var(--white);
	color: var(--white);
}

.btn-sign {
	height: 50px;
	display: inline-block;
	line-height: 50px;
	padding: 0 52px;
	background-color: var(--white);
	color: var(--main-color);
}

.link{
	text-decoration: none;
	font-size: 0.874rem;
	color: var(--brand-color);
}

@media(max-width:768px){
	section, footer{
		padding: 0 15px;
	}
	.container{
		flex-direction: column;
		align-items: center;
	}
	.video-container, .focused-container{
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer-container, .technology-container{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.section-text{
		margin: 20px 0;
	}
}



