/*Variables*/
:root {
  --main-color: #D52047;
  --white: #fff;
  --brand-color: #ED4C5C;
  --main-font: 'Lato', sans-serif;
}


/*Global styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	counter-reset: section;
}

.subtitles{
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 21.6px;
	text-align: center;
}
.page-wrap {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
section, footer{
	padding-left: 160px;
	padding-right: 160px;
}
.section-title {
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 43px;
	padding-bottom: 24px;
}
.section-text{
	max-width: 445px;
	margin-right: 125px;
}
p{
	text-align: justify;
	font-size: 0.875rem;
	margin-bottom: 24px;
}
.content-wrap {
	padding: 0 15px;
}

.d-flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}

.hide {
	display: none !important;
}

.uppercase {
	text-transform: uppercase;
}

.btn {
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	cursor: pointer;
}

.btn-login {
	width: 100px;
	height: 40px;
	border: 1px solid var(--white);
	color: var(--white);
}

.btn-sign {
	height: 50px;
	display: inline-block;
	line-height: 50px;
	padding: 0 52px;
	background-color: var(--white);
	color: var(--main-color);
}

.link{
	text-decoration: none;
	font-size: 0.874rem;
	color: var(--brand-color);
}

@media(max-width:820px){
	section, footer{
		padding: 0 15px;
	}
	.container{
		flex-direction: column;
		align-items: center;
	}
	.video-container, .focused-container{
		flex-direction: column-reverse;
		align-items: center;
	}
	.footer-container, .technology-container, .features-container{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.section-text{
		margin: 20px 0;
	}
}

/*Styles for page header*/

.page-header {
	flex-direction: column;
	/*justify-content: center;*/
	/*align-items: center;*/
	min-height: 100vh;
	background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
				url('../img/header/main-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.top-bar {
	padding-top: 20px;
}

.logo-img {
	margin-right: 10px;
}

.logo-title {
	text-transform: uppercase;
	color: var(--white);
	font-weight: 700;
}

.menu-icon {
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
}

.menu-icon i {
	font-size: 2rem;
	color: var(--white);
}

.menu-mobile {
	position: relative;
}

.burger-menu {
	position: absolute;
	right: 0;
	top: -9999px;
	background: #fff;
}

.show-menu {
	top: 50px;
}

.menu-desktop,
.r-side {
	display: none !important;
}

.page-header-content {
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	/*align-self: center;*/
	max-width: 580px;
	margin: 0 auto;
	text-align: center;
	color: var(--white);
}

.page-header-content .title {
	padding-bottom: 20px;
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: 0.05em;
}

.page-header-content .subtitle {
	padding-bottom: 40px;
	font-size: 1rem;
}

/*media quaries*/

@media (min-width: 768px) {
	.page-header-content .title {
		padding-bottom: 40px;
		font-size: 4.5rem;
	}

	.page-header-content .subtitle {
		font-size: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.top-bar .content-wrap {
		align-items: center;
	}
	.menu-mobile {
		display: none;
	}
	.menu-desktop,
	.r-side{
		display: flex !important;
	}

	.menu-desktop .main-menu {
		display: flex;
		list-style: none;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		color: var(--white);
	}

	.menu-desktop .main-menu a {
		text-decoration: none;
		color: inherit;
	}

	.menu-desktop .main-menu li:not(:last-child) {
		margin-right: 15px;
	}

	.r-side .lang-switch {
		align-items: center;
		margin-right: 20px;
		color: var(--white);
		cursor: pointer;
	}

	.r-side .lang-switch .lang-switch-flag {
		width: 32px;
		height: 32px;
		margin-right: 11px;
		border-radius: 50%;
		background-image: url(../img/header/flag.png);
	}

	.r-side .lang-switch .lang-switch-title {
		margin-right: 11px;
	}
}

/*--section-video--*/

.section-video{
	padding-top: 94px;
	padding-bottom: 95px;
}
.video {
	position: relative;
	border-radius: 15px;
}

.btn-play {
	position: absolute;
	left: -33px;
	top: calc(50% - 33px);
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background-color: var(--brand-color);
	background-image: url('../img/video/play.svg');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
@media(max-width:768px){
	.video img{
		max-width: 100%;
	}
	.btn-play{
		left: calc(50% - 33px);
	}
}
/*--section-features--*/

.section-features{
	padding-top: 64px;
	padding-bottom: 124px;
	background-color: #FAFAFA;
}
.features-container{
	margin-top: 100px;
}
.card_1{
	background-image: url('../img/features/Bg.png');
}
.card_2{
	background-image: url('../img/features/Bg-2.png');
}
.card_3{
	background-image: url('../img/features/Bg-3.png');
}
.card_bg{
	width: 350px;
	height: 250px;
	position: absolute;
	top: -157px;
	left: -29px;
}
.features-item{
	position: relative;
	margin: 90px auto 0;
}
.items{
	padding: 33px 32px 0;
	width: 293px;
	height: 198px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
	text-align: center;

}
.features-item-text{
	padding: 20px 0;
	font-size: 12px;
	line-height: 18px;

}
.features-title{
	text-align: center;
	margin-bottom: 0px;
}
@media(max-width:768px){
	.card_bg{
		width: 340px;
		height: 230px;
		top: -130px;
		border-radius: 8px;
	}
}

/*--section-technology--*/

.section-technology{
	padding-bottom: 104px;
	padding-top: 63px;
}
.technology-container{
  padding-top: 72px;
}
.technology-item{
  margin: 0 auto;
  width: 255px;
  position: relative;
  padding: 40px 40px 0px;
  text-align: center;
}
.technology-item::before{
  counter-increment: section;
  content: "0" counter(section) "";
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: rgba(16, 16, 16, 0.08);
  top: -25px;
  left: 70px;
}
.tech-text{
  font-size: 0.75rem;
  line-height: 14.4px;
  padding-top: 10px;
}
.tech-pic{
  height: 54px;
}
@media(max-width:768px){
	.technology-item{
		width: 200px;
		padding-bottom: 40px;
	}
	.technology-item::before{
		left: 42px;
	}
}

/*--section-focused--*/
.section-focused{
	padding-top: 94px;
	padding-bottom: 95px;
	background-color: var(--brand-color);
	color: white;
}
.focused-icons{
  padding-top: 40px;
}
.focused-icon{
  padding-right: 25px;
}

/*--section-contact--*/
.section-contact{
	padding-top: 117px;
	padding-bottom: 78px;
}
form{
	min-width: 350px;
}
select{
	-webkit-appearance: none;
}
.username{
	justify-content: space-between;
	width: 100%;
}
input::placeholder{
	color: rgba(19, 39, 67, 0.5);
}
.first_name, .last_name{
	width: 48%;
}
.phone_number, .servises{
	width: 100%;
}
.first_name, .last_name, .phone_number, .servises, .button-submit{
	padding: 21px 31px;
	margin-bottom: 24px;
	border: 1px solid #333333;
	border-radius: 6px;
	font-size: 1rem;
	line-height: 19px;
	color: rgba(19, 39, 67, 0.5);
}
.button-submit{
	background-color: var(--brand-color);
	color: white;
	border: none;
}



/*--footer--*/

footer{
	padding-top: 85px;
	background-color: #FAFAFA;
}
footer li{
  list-style-type: none;
}
footer li a{
	text-decoration: none;
	color: black;
}
footer ul{
  padding: 33px 0 86px;
}
footer .subtitles{
  text-align: left;
}
.footer-icon{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
.footer-icon-fb{
  background-image: url('../img/footer/Vector-3.png');
}
.footer-icon-in{
  background-image: url('../img/footer/Group.png');
}
.footer-icon-tw{
  background-image: url('../img/footer/Vector-4.png');
}
@media(max-width:768px){
	footer{
		text-align: center;
	}
	.footer-item{
		width: 50%;
	}
	.footer-icon-container{
		justify-content: center;
	}
	footer .subtitles{
		text-align: center;
	}

}




